syntax on 
set noshowmode
set hidden
set showcmd
set updatetime=300
set shortmess+=c
set noerrorbells
set tabstop=4 softtabstop=4
set shiftwidth=4
set expandtab
set smartindent
set nu
set relativenumber
set nowrap
set smartcase
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile
set incsearch
set wildmenu
set completeopt-=preview
"set laststatus=2
let mapleader=" "


function Runner()
    execute ':w'
    let suff=&filetype
    if suff == 'cpp'
        !echo Compiling && g++ % && echo "The program is running now " && ./a.out
    elseif suff == 'c'
        !echo Compiling C && gcc % && echo "The program is running now " && ./a.out
    elseif suff == 'python'
       !echo "The snake has crawled" && python3 %
    elseif suff == 'tex'
        !echo "Writing....." && pdflatex % 
    elseif suff == 'sh'
        !echo "Bashing" && bash %
    elseif suff == 'go'
        !echo "We are going" && go run %
    elseif suff == 'perl'
        !echo "See the perl" && perl %
    elseif suff == 'latex'
        !echo "tex time..." && pdflatex %
    elseif suff == 'javascript'
        !echo "Jabha Schript" && node %
    elseif suff == 'yaml'
        !echo "We playing" && ansible-playbook %
    elseif suff == 'rust'
        let l:x = expand('%:p')
        execute '!rustc ' l:x
    endif
endfunction

"For running and execute command. 
nnoremap <leader>s :call Runner()<CR>
